body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

/* Updated banner styling */
.banner {
  max-width: 100%; /* Make the banner responsive */
  height: auto; /* Maintain aspect ratio */
  margin: 0 auto 20px auto; /* Center the image */
  display: block; /* Block element for proper spacing */
  border-radius: 10px; /* Optional rounded edges */
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

#search-bar {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

#sort-options {
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #444;
  color: #fff;
  cursor: pointer;
}

#sort-options:hover {
  background-color: #555;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #444;
}

tbody tr:nth-child(odd) {
  background-color: #555;
}

tbody tr:nth-child(even) {
  background-color: #666;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
